USE [master]
GO
/****** Object:  Database [VetClinic]    Script Date: 5/13/2026 3:28:51 AM ******/
CREATE DATABASE [VetClinic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VetClinic', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\VetClinic.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VetClinic_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\VetClinic_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VetClinic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VetClinic]
GO
/****** Object:  Table [dbo].[APPOINTMENT_SLOT]    Script Date: 5/13/2026 3:28:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPOINTMENT_SLOT](
	[SLOTID] [int] NOT NULL,
	[ATTRIBUTE_70] [int] NOT NULL,
	[VISITID] [int] NOT NULL,
	[SLOTDATETIME] [datetime] NOT NULL,
	[DURATIONMINUTES] [int] NULL,
	[STATUS] [char](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLINIC]    Script Date: 5/13/2026 3:28:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLINIC](
	[CLINICID] [int] NOT NULL,
	[CLINICNAME] [char](100) NOT NULL,
	[LOCATION] [char](255) NULL,
	[HASEMERGENCYFACILITY] [bit] NULL,
	[CLINICPHONE] [char](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLINICAL_NOTE]    Script Date: 5/13/2026 3:28:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLINICAL_NOTE](
	[NOTEID] [int] NOT NULL,
	[VISITID] [int] NOT NULL,
	[WEIGHTKG] [numeric](5, 2) NULL,
	[DIAGNOSIS] [text] NULL,
	[TREATMENTPLAN] [text] NULL,
	[GENERALOBSERVATIONS] [text] NULL,
	[RECORDEDAT] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICAL_VISIT]    Script Date: 5/13/2026 3:28:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICAL_VISIT](
	[VISITID] [int] NOT NULL,
	[NOTEID] [int] NOT NULL,
	[PETID] [int] NOT NULL,
	[SLOTID] [int] NOT NULL,
	[VISITDATE] [datetime] NOT NULL,
	[VISITSTATUS] [char](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OWNER]    Script Date: 5/13/2026 3:28:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OWNER](
	[OWNERID] [int] NOT NULL,
	[OFRISTNAME] [char](50) NOT NULL,
	[OLASTNAME] [char](50) NOT NULL,
	[OPHONE] [char](15) NULL,
	[OEMAIL] [char](100) NULL,
	[BILLINGADDRESS] [char](255) NULL,
	[EMERGENCYCONTACT] [char](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PET]    Script Date: 5/13/2026 3:28:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PET](
	[PETID] [int] NOT NULL,
	[OWNERID] [int] NOT NULL,
	[PETNAME] [char](100) NOT NULL,
	[SPECIES] [char](50) NOT NULL,
	[BREED] [char](100) NULL,
	[AGE] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REMINDER]    Script Date: 5/13/2026 3:28:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REMINDER](
	[REMINDERID] [int] NOT NULL,
	[OWNERID] [int] NOT NULL,
	[VACCINATIONID] [int] NOT NULL,
	[SCHEDULEDDATE] [datetime] NOT NULL,
	[CHANNEL] [char](20) NULL,
	[REMINDESTATUS] [char](20) NULL,
	[SENTAT] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VACCINATION]    Script Date: 5/13/2026 3:28:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VACCINATION](
	[VACCINATIONID] [int] NOT NULL,
	[VISITID] [int] NOT NULL,
	[INVENTORYID] [int] NOT NULL,
	[VACCINETYPE] [char](100) NOT NULL,
	[ADMINISTEREDDATE] [datetime] NOT NULL,
	[NEXTBOOSTERDUE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VACCINE_INVENTORY]    Script Date: 5/13/2026 3:28:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VACCINE_INVENTORY](
	[INVENTORYID] [int] NOT NULL,
	[CLINICID] [int] NOT NULL,
	[VACCINEINVENTORYTYPE] [char](100) NOT NULL,
	[BATCHNUMBER] [char](50) NOT NULL,
	[SUPPLIERNAME] [char](100) NULL,
	[EXPIRYDATE] [datetime] NULL,
	[QUANTITYAVAILABLE] [int] NULL,
	[REORDERTHRESHOLD] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VET_CLINIC]    Script Date: 5/13/2026 3:28:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VET_CLINIC](
	[ATTRIBUTE_70] [int] NOT NULL,
	[CLINICID] [int] NOT NULL,
	[VETID] [int] NOT NULL,
	[ISPRIMARY] [bit] NULL,
	[JOINDATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VETERINARIAN]    Script Date: 5/13/2026 3:28:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VETERINARIAN](
	[VETID] [int] NOT NULL,
	[VETFIRSTNAME] [char](50) NOT NULL,
	[VETLASTNAME] [char](50) NOT NULL,
	[SPECIALTY] [char](100) NULL,
	[LICENSENUMBER] [char](50) NULL,
	[VETPHONE] [char](20) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[APPOINTMENT_SLOT] ([SLOTID], [ATTRIBUTE_70], [VISITID], [SLOTDATETIME], [DURATIONMINUTES], [STATUS]) VALUES (1, 101, 10, CAST(N'2026-05-15T10:00:00.000' AS DateTime), 30, N'Completed           ')
INSERT [dbo].[APPOINTMENT_SLOT] ([SLOTID], [ATTRIBUTE_70], [VISITID], [SLOTDATETIME], [DURATIONMINUTES], [STATUS]) VALUES (2, 103, 11, CAST(N'2026-05-15T11:30:00.000' AS DateTime), 45, N'Completed           ')
INSERT [dbo].[APPOINTMENT_SLOT] ([SLOTID], [ATTRIBUTE_70], [VISITID], [SLOTDATETIME], [DURATIONMINUTES], [STATUS]) VALUES (3, 101, 0, CAST(N'2026-05-16T09:00:00.000' AS DateTime), 30, N'Available           ')
GO
INSERT [dbo].[CLINIC] ([CLINICID], [CLINICNAME], [LOCATION], [HASEMERGENCYFACILITY], [CLINICPHONE]) VALUES (1, N'Paw Harmony                                                                                         ', N'Zamalek, Cairo                                                                                                                                                                                                                                                 ', 1, N'0227351000          ')
INSERT [dbo].[CLINIC] ([CLINICID], [CLINICNAME], [LOCATION], [HASEMERGENCYFACILITY], [CLINICPHONE]) VALUES (2, N'Pet Oasis                                                                                           ', N'Maadi, Cairo                                                                                                                                                                                                                                                   ', 1, N'0223582000          ')
INSERT [dbo].[CLINIC] ([CLINICID], [CLINICNAME], [LOCATION], [HASEMERGENCYFACILITY], [CLINICPHONE]) VALUES (3, N'Vet Care Center                                                                                     ', N'Heliopolis                                                                                                                                                                                                                                                     ', 0, N'0224173000          ')
GO
INSERT [dbo].[CLINICAL_NOTE] ([NOTEID], [VISITID], [WEIGHTKG], [DIAGNOSIS], [TREATMENTPLAN], [GENERALOBSERVATIONS], [RECORDEDAT]) VALUES (501, 10, CAST(25.50 AS Numeric(5, 2)), N'Seasonal Allergy', N'Antihistamine', N'Patient itchy', CAST(N'2026-05-15T10:30:00.000' AS DateTime))
INSERT [dbo].[CLINICAL_NOTE] ([NOTEID], [VISITID], [WEIGHTKG], [DIAGNOSIS], [TREATMENTPLAN], [GENERALOBSERVATIONS], [RECORDEDAT]) VALUES (502, 11, CAST(4.20 AS Numeric(5, 2)), N'Routine Checkup', N'None', N'Healthy cat', CAST(N'2026-05-15T12:15:00.000' AS DateTime))
GO
INSERT [dbo].[MEDICAL_VISIT] ([VISITID], [NOTEID], [PETID], [SLOTID], [VISITDATE], [VISITSTATUS]) VALUES (10, 501, 1, 1, CAST(N'2026-05-15T00:00:00.000' AS DateTime), N'Finished            ')
INSERT [dbo].[MEDICAL_VISIT] ([VISITID], [NOTEID], [PETID], [SLOTID], [VISITDATE], [VISITSTATUS]) VALUES (11, 502, 2, 2, CAST(N'2026-05-15T00:00:00.000' AS DateTime), N'Finished            ')
GO
INSERT [dbo].[PET] ([PETID], [OWNERID], [PETNAME], [SPECIES], [BREED], [AGE]) VALUES (1, 1, N'Rex                                                                                                 ', N'Dog                                               ', N'German Shepherd                                                                                     ', 3)
INSERT [dbo].[PET] ([PETID], [OWNERID], [PETNAME], [SPECIES], [BREED], [AGE]) VALUES (2, 1, N'Bella                                                                                               ', N'Cat                                               ', N'Persian                                                                                             ', 2)
INSERT [dbo].[PET] ([PETID], [OWNERID], [PETNAME], [SPECIES], [BREED], [AGE]) VALUES (3, 2, N'Max                                                                                                 ', N'Dog                                               ', N'Golden Retriever                                                                                    ', 5)
GO
INSERT [dbo].[REMINDER] ([REMINDERID], [OWNERID], [VACCINATIONID], [SCHEDULEDDATE], [CHANNEL], [REMINDESTATUS], [SENTAT]) VALUES (1, 1, 1, CAST(N'2027-05-01T00:00:00.000' AS DateTime), N'Email               ', N'Pending             ', NULL)
INSERT [dbo].[REMINDER] ([REMINDERID], [OWNERID], [VACCINATIONID], [SCHEDULEDDATE], [CHANNEL], [REMINDESTATUS], [SENTAT]) VALUES (2, 2, 2, CAST(N'2026-11-01T00:00:00.000' AS DateTime), N'SMS                 ', N'Sent                ', CAST(N'2026-11-01T08:00:00.000' AS DateTime))
GO
INSERT [dbo].[VACCINATION] ([VACCINATIONID], [VISITID], [INVENTORYID], [VACCINETYPE], [ADMINISTEREDDATE], [NEXTBOOSTERDUE]) VALUES (1, 10, 1, N'Rabies Booster                                                                                      ', CAST(N'2026-05-15T00:00:00.000' AS DateTime), CAST(N'2027-05-15T00:00:00.000' AS DateTime))
INSERT [dbo].[VACCINATION] ([VACCINATIONID], [VISITID], [INVENTORYID], [VACCINETYPE], [ADMINISTEREDDATE], [NEXTBOOSTERDUE]) VALUES (2, 11, 2, N'Core Feline                                                                                         ', CAST(N'2026-05-15T00:00:00.000' AS DateTime), CAST(N'2026-11-15T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[VACCINE_INVENTORY] ([INVENTORYID], [CLINICID], [VACCINEINVENTORYTYPE], [BATCHNUMBER], [SUPPLIERNAME], [EXPIRYDATE], [QUANTITYAVAILABLE], [REORDERTHRESHOLD]) VALUES (1, 1, N'Rabies                                                                                              ', N'BTCH-001                                          ', N'Zoetis                                                                                              ', CAST(N'2027-12-31T00:00:00.000' AS DateTime), 50, 10)
INSERT [dbo].[VACCINE_INVENTORY] ([INVENTORYID], [CLINICID], [VACCINEINVENTORYTYPE], [BATCHNUMBER], [SUPPLIERNAME], [EXPIRYDATE], [QUANTITYAVAILABLE], [REORDERTHRESHOLD]) VALUES (2, 2, N'Feline Flu                                                                                          ', N'BTCH-002                                          ', N'Merck                                                                                               ', CAST(N'2026-08-20T00:00:00.000' AS DateTime), 20, 5)
INSERT [dbo].[VACCINE_INVENTORY] ([INVENTORYID], [CLINICID], [VACCINEINVENTORYTYPE], [BATCHNUMBER], [SUPPLIERNAME], [EXPIRYDATE], [QUANTITYAVAILABLE], [REORDERTHRESHOLD]) VALUES (3, 1, N'Parvo                                                                                               ', N'BTCH-003                                          ', N'Pfizer                                                                                              ', CAST(N'2026-12-01T00:00:00.000' AS DateTime), 100, 15)
GO
INSERT [dbo].[VET_CLINIC] ([ATTRIBUTE_70], [CLINICID], [VETID], [ISPRIMARY], [JOINDATE]) VALUES (101, 1, 1, 1, CAST(N'2025-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[VET_CLINIC] ([ATTRIBUTE_70], [CLINICID], [VETID], [ISPRIMARY], [JOINDATE]) VALUES (102, 1, 2, 0, CAST(N'2025-02-15T00:00:00.000' AS DateTime))
INSERT [dbo].[VET_CLINIC] ([ATTRIBUTE_70], [CLINICID], [VETID], [ISPRIMARY], [JOINDATE]) VALUES (103, 2, 2, 1, CAST(N'2025-03-10T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[VETERINARIAN] ([VETID], [VETFIRSTNAME], [VETLASTNAME], [SPECIALTY], [LICENSENUMBER], [VETPHONE]) VALUES (1, N'Ahmed                                             ', N'Mehanny                                           ', N'Surgery                                                                                             ', N'LIC-1001                                          ', N'0101111111          ')
INSERT [dbo].[VETERINARIAN] ([VETID], [VETFIRSTNAME], [VETLASTNAME], [SPECIALTY], [LICENSENUMBER], [VETPHONE]) VALUES (2, N'Sara                                              ', N'Hassan                                            ', N'Dermatology                                                                                         ', N'LIC-1002                                          ', N'0112222222          ')
INSERT [dbo].[VETERINARIAN] ([VETID], [VETFIRSTNAME], [VETLASTNAME], [SPECIALTY], [LICENSENUMBER], [VETPHONE]) VALUES (3, N'Khaled                                            ', N'Omar                                              ', N'Internal Medicine                                                                                   ', N'LIC-1003                                          ', N'0123333333          ')
GO
/****** Object:  Index [PK_APPOINTMENT_SLOT]    Script Date: 5/13/2026 3:28:52 AM ******/
ALTER TABLE [dbo].[APPOINTMENT_SLOT] ADD  CONSTRAINT [PK_APPOINTMENT_SLOT] PRIMARY KEY NONCLUSTERED 
(
	[SLOTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [BOOKED_AS_FK]    Script Date: 5/13/2026 3:28:52 AM ******/
CREATE NONCLUSTERED INDEX [BOOKED_AS_FK] ON [dbo].[APPOINTMENT_SLOT]
(
	[VISITID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PROVIDES_FK]    Script Date: 5/13/2026 3:28:52 AM ******/
CREATE NONCLUSTERED INDEX [PROVIDES_FK] ON [dbo].[APPOINTMENT_SLOT]
(
	[ATTRIBUTE_70] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_CLINIC]    Script Date: 5/13/2026 3:28:52 AM ******/
ALTER TABLE [dbo].[CLINIC] ADD  CONSTRAINT [PK_CLINIC] PRIMARY KEY NONCLUSTERED 
(
	[CLINICID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_CLINICAL_NOTE]    Script Date: 5/13/2026 3:28:52 AM ******/
ALTER TABLE [dbo].[CLINICAL_NOTE] ADD  CONSTRAINT [PK_CLINICAL_NOTE] PRIMARY KEY NONCLUSTERED 
(
	[NOTEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [DOCUMENTED_BY2_FK]    Script Date: 5/13/2026 3:28:52 AM ******/
CREATE NONCLUSTERED INDEX [DOCUMENTED_BY2_FK] ON [dbo].[CLINICAL_NOTE]
(
	[VISITID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_MEDICAL_VISIT]    Script Date: 5/13/2026 3:28:52 AM ******/
ALTER TABLE [dbo].[MEDICAL_VISIT] ADD  CONSTRAINT [PK_MEDICAL_VISIT] PRIMARY KEY NONCLUSTERED 
(
	[VISITID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [BOOKED_AS2_FK]    Script Date: 5/13/2026 3:28:52 AM ******/
CREATE NONCLUSTERED INDEX [BOOKED_AS2_FK] ON [dbo].[MEDICAL_VISIT]
(
	[SLOTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [DOCUMENTED_BY_FK]    Script Date: 5/13/2026 3:28:52 AM ******/
CREATE NONCLUSTERED INDEX [DOCUMENTED_BY_FK] ON [dbo].[MEDICAL_VISIT]
(
	[NOTEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [HAS_FK]    Script Date: 5/13/2026 3:28:52 AM ******/
CREATE NONCLUSTERED INDEX [HAS_FK] ON [dbo].[MEDICAL_VISIT]
(
	[PETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_OWNER]    Script Date: 5/13/2026 3:28:52 AM ******/
ALTER TABLE [dbo].[OWNER] ADD  CONSTRAINT [PK_OWNER] PRIMARY KEY NONCLUSTERED 
(
	[OWNERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_PET]    Script Date: 5/13/2026 3:28:52 AM ******/
ALTER TABLE [dbo].[PET] ADD  CONSTRAINT [PK_PET] PRIMARY KEY NONCLUSTERED 
(
	[PETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [OWNS_FK]    Script Date: 5/13/2026 3:28:52 AM ******/
CREATE NONCLUSTERED INDEX [OWNS_FK] ON [dbo].[PET]
(
	[OWNERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_REMINDER]    Script Date: 5/13/2026 3:28:52 AM ******/
ALTER TABLE [dbo].[REMINDER] ADD  CONSTRAINT [PK_REMINDER] PRIMARY KEY NONCLUSTERED 
(
	[REMINDERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RECEIVES_FK]    Script Date: 5/13/2026 3:28:52 AM ******/
CREATE NONCLUSTERED INDEX [RECEIVES_FK] ON [dbo].[REMINDER]
(
	[OWNERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [TRIGGERS_FK]    Script Date: 5/13/2026 3:28:52 AM ******/
CREATE NONCLUSTERED INDEX [TRIGGERS_FK] ON [dbo].[REMINDER]
(
	[VACCINATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_VACCINATION]    Script Date: 5/13/2026 3:28:52 AM ******/
ALTER TABLE [dbo].[VACCINATION] ADD  CONSTRAINT [PK_VACCINATION] PRIMARY KEY NONCLUSTERED 
(
	[VACCINATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [INCLUDES_FK]    Script Date: 5/13/2026 3:28:52 AM ******/
CREATE NONCLUSTERED INDEX [INCLUDES_FK] ON [dbo].[VACCINATION]
(
	[VISITID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [SUPPLIES_FK]    Script Date: 5/13/2026 3:28:52 AM ******/
CREATE NONCLUSTERED INDEX [SUPPLIES_FK] ON [dbo].[VACCINATION]
(
	[INVENTORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_VACCINE_INVENTORY]    Script Date: 5/13/2026 3:28:52 AM ******/
ALTER TABLE [dbo].[VACCINE_INVENTORY] ADD  CONSTRAINT [PK_VACCINE_INVENTORY] PRIMARY KEY NONCLUSTERED 
(
	[INVENTORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [STOCKS_FK]    Script Date: 5/13/2026 3:28:52 AM ******/
CREATE NONCLUSTERED INDEX [STOCKS_FK] ON [dbo].[VACCINE_INVENTORY]
(
	[CLINICID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_VET_CLINIC]    Script Date: 5/13/2026 3:28:52 AM ******/
ALTER TABLE [dbo].[VET_CLINIC] ADD  CONSTRAINT [PK_VET_CLINIC] PRIMARY KEY NONCLUSTERED 
(
	[ATTRIBUTE_70] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [HOSTS_FK]    Script Date: 5/13/2026 3:28:52 AM ******/
CREATE NONCLUSTERED INDEX [HOSTS_FK] ON [dbo].[VET_CLINIC]
(
	[CLINICID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [WORKS_AT_FK]    Script Date: 5/13/2026 3:28:52 AM ******/
CREATE NONCLUSTERED INDEX [WORKS_AT_FK] ON [dbo].[VET_CLINIC]
(
	[VETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_VETERINARIAN]    Script Date: 5/13/2026 3:28:52 AM ******/
ALTER TABLE [dbo].[VETERINARIAN] ADD  CONSTRAINT [PK_VETERINARIAN] PRIMARY KEY NONCLUSTERED 
(
	[VETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
